openapi: 3.0.3
info:
    title: 随手记发文
    version: 1.0.0
    description: >-
        把文章发布到 https://comcloud.github.io 。实际动作是在 GitHub 仓库
        comcloud/comcloud.github.io 上创建或修改一条打了「发文章」标签的 issue，
        仓库里的 GitHub Actions 会把 issue 正文变成文章并部署上线。
servers:
    - url: https://api.github.com
paths:
    /repos/comcloud/comcloud.github.io/issues:
        post:
            operationId: publishPost
            summary: 发布一篇新文章到随手记
            description: >-
                创建一条带「发文章」标签的 GitHub issue，即发布一篇文章。
                body 字段必须是完整的发文块：以 --- 开头的元数据块（title / slug / tags / featured）
                紧跟正文 markdown。缺元数据块、slug 含中文、正文少于 200 字都会被拒绝，
                拒绝原因会出现在这条 issue 的评论里。
                成功响应里的 number 要记住，之后修改这篇文章要用它。
            parameters:
                - name: User-Agent
                  in: header
                  required: true
                  schema:
                      type: string
                      default: shouji-gpt
                  description: 固定填 shouji-gpt
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [title, body, labels]
                            properties:
                                title:
                                    type: string
                                    description: issue 标题，直接填文章的中文标题
                                body:
                                    type: string
                                    description: 完整发文块，元数据块加正文，不要包代码围栏
                                labels:
                                    type: array
                                    items:
                                        type: string
                                    description: 固定为 ["发文章"]
                                    default: [发文章]
                                draft:
                                    type: boolean
                                    description: 填 false。true 会让 Actions 收不到事件，文章发不出去
                                    default: false
            responses:
                '201':
                    description: issue 已创建，Actions 正在发文
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    number:
                                        type: integer
                                        description: issue 编号，改这篇要用
                                    html_url:
                                        type: string
                                        description: issue 网页链接，转给用户看
                '401':
                    description: 认证失败，API key 不对或已过期
                '422':
                    description: 标题为空、标签名不存在，或 body 不是合法 JSON 字符串

    /repos/comcloud/comcloud.github.io/issues/{issue_number}:
        patch:
            operationId: revisePost
            summary: 修改一篇已经发出去的文章
            description: >-
                用 publishPost 返回的 number 更新那条 issue 的正文。
                保存后 Actions 会自动重新发文，覆盖同一篇文章。
                只能改自己发过的文章，改别人的 issue 会污染它的讨论。
            parameters:
                - name: issue_number
                  in: path
                  required: true
                  schema:
                      type: integer
                  description: publishPost 返回的 number
                - name: User-Agent
                  in: header
                  required: true
                  schema:
                      type: string
                      default: shouji-gpt
                  description: 固定填 shouji-gpt
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [body]
                            properties:
                                body:
                                    type: string
                                    description: 改好的完整发文块，元数据块加正文
            responses:
                '200':
                    description: issue 已更新，Actions 正在重新发文
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    html_url:
                                        type: string
                '404':
                    description: 这条 issue 不存在
